body {
    text-align: center;
    color: #606060;
    font-family: system-ui, —apple-system, Segoe UI, Rototo, Emoji, Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: Emoji;
    src: local("Apple Color Emojiji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
    unicode-range: U+1F000-1F644, U+203C-3299;
}

a {
    color: #FFB6C1;
    font-weight: bold;
}

textarea {
    display: block;
    margin: 0.8em auto;
    width: 50%;
    height: 24em;
    border-radius: 12px;
    border: 1px solid #FFB6C1;
    padding: 0.4em;
    font-family: Consolas, sans-serif;
}

input {
    margin-left: 0.3em;
}

select {
    background-color: #FFF0F5;
    border: 5px solid #FFF0F5;
    border-radius: 12px;
    margin: 0.8em 0;
    max-width: 5rem;
}

input[type=color] {
    appearance: none;
    width: 1.4em;
    height: 1.7em;
    border: none;
    background-color: transparent;
    padding: 0;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.hide {
    display: none!important;
}

#setup_icon {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    font-size: 1.4rem;
    cursor: pointer;
}

#setup_icon:hover {
    animation: rotate 2s;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}