a {
    color: #FFB6C1;
    font-weight: bold;
}

textarea {
    display: block;
    margin: 0.8em auto;
    width: 50%;
    height: 24em;
    border-radius: 12px;
    border: 1px solid #FFB6C1;
    padding: 0.4em;
    font-family: Consolas, sans-serif;
}

input {
    margin-left: 0.3em;
}

select {
    background-color: #FFF0F5;
    border: 5px solid #FFF0F5;
    border-radius: 12px;
    margin: 0.8em 0;
    max-width: 5rem;
}

input[type=color] {
    appearance: none;
    width: 1.4em;
    height: 1.7em;
    border: none;
    background-color: transparent;
    padding: 0;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
input[type=text]:focus{
    color: currentColor;
    border-color: currentColor;
}
