#avatar-uploader {
    position: relative;
    width: calc(min(50vw, 24em) + 6em);
    padding: 1em;
    border: var(--text) 2px dashed;
    border-radius: 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#avatar-uploader > label {
    cursor: pointer;

    margin: 0.6em;
    width: 8em;
    height: 8em;
    background-size: 20px 20px;
    background-clip: border-box;
    background-image: linear-gradient(
            45deg,
            var(--text) 0, var(--text) 25%, transparent 25%, transparent 50%,
            var(--text) 50%, var(--text) 75%, transparent 75%, transparent
    );
    background-position: center;
    border: var(--text) 2px solid;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#avatar-uploader > label::before {
    transition: transform 250ms ease-in-out;
    transform: scale(1);
    content: attr(type);
    color: var(--text);
    padding: 0.2em 0.6em;
    background: var(--sub-bg);
    border-radius: 8px;
    border: var(--text) 2px solid;
}

#avatar-uploader > label:hover::before {
    transform: scale(0);
}

#avatar-uploader > label > input {
    display: none;
}