#editor{
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.canvas-container {
    border: 1px dotted #FFB6C1;
    margin: 0 auto;
}

.bar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 12px;
    margin: 0.8em auto;
}

.info {
    width: 100%;
    padding: 0.5em;
    background-color: #FFF0F5;
    border-radius: 4px;
}

.bar > div, .check {
    background-color: #FFF0F5;
    padding: 0.3em 0.4em;
    border-radius: 12px;
    margin: 0.4em;
    font-size: 0.9em;
    cursor: pointer;
}

.check > * {
    margin: 0 0.2em;
}

.gif-bar {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gif-bar > img {
    z-index: 10;
    width: 6em;
}

.element {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 1px dotted #FFB6C1;
    border-radius: 12px;
    margin: 0.2em 0;
}

.typeText {
    font-size: 0.95rem;
    color: #FFB6C1;
    margin: 0.8em;
}

.typein {
    border: 1px solid #FFB6C1;
    border-radius: 12px;
    max-width: 3em;
    padding: 0.1em 0.4em;
}

#downloadConfig {
    width: 50%;
    margin: 1em auto;
}

.checked {
    filter: blur(2px);
}
