.toolbar{
    justify-content: space-between;
}
.toolbar .id-input,.toolbar .alias-input,
.toolbar .random-list-checkbox{

    display: flex;
    align-items: center;
    padding: 2px;
    background: white;
    border-radius: 4px;
    word-break: keep-all;
}
.toolbar .alias-input{
    width: 160px;
}
.toolbar .id-input input,.toolbar .alias-input input{
    padding: 0 4px;
    height: 28px;
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    width: 100%;
}
.toolbar .btn,.toolbar .random-list-checkbox{
    position: relative;
    user-select: none;
    line-height: 36px;
    padding: 0 10px;
    min-width: 88px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    transition: background-color .3s linear,
    color.3s linear;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border:1px solid currentColor;
    overflow: hidden;
}
